<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<display-name>login</display-name>
  	<description></description>
  	<servlet-class>com.justintime.client.login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CabBooking</servlet-name>
  	<display-name>CabBooking</display-name>
  	<description></description>
  	<servlet-class>com.justintime.client.CabBooking</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BookingHistory</display-name>
  	<servlet-name>BookingHistory</servlet-name>
  	<servlet-class>com.justintime.client.BookingHistory</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CabRegistration</display-name>
  	<servlet-name>CabRegistration</servlet-name>
  	<servlet-class>com.justintime.service.CabRegistration</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EmployeeRegistration</display-name>
  	<servlet-name>EmployeeRegistration</servlet-name>
  	<servlet-class>com.justintime.service.EmployeeRegistration</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CabNotAvailable</display-name>
  	<servlet-name>CabNotAvailable</servlet-name>
  	<servlet-class>com.justintime.exception.CabNotAvailable</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/rose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CabBooking</servlet-name>
  	<url-pattern>/bookcab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingHistory</servlet-name>
  	<url-pattern>/BookingHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CabRegistration</servlet-name>
  	<url-pattern>/CabRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistration</servlet-name>
  	<url-pattern>/EmployeeRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CabNotAvailable</servlet-name>
  	<url-pattern>/CabNotAvailable</url-pattern>
  </servlet-mapping>
</web-app>